<main class="profile-view container narrow">
    <section class="clearfix">
        <div class="profile-view-header column full">
            <h2 class="profile-view-full-name">Ben Morrison</h2>
        </div>
        <div class="column half">
            <img src="" class="profile-photo">
            <input type="file" class="profile-photo-upload" accept="image/*"/>
        </div>
        <div class="profile-view-details column half">
            <label class="profile-label">
                <p>First Name:</p>
                <input type="text" class="profile-view-first-name"/>
            </label>
            <label class="profile-label">
                <p>Last Name:</p>
                <input type="text" class="profile-view-last-name"/>
            </label>
            <label class="profile-label">
                <p>Hometown:</p>
                <input type="text" class="profile-view-hometown"/>
            </label>
            <div class="column full profile-view-submit">
                <input type="submit" value="Save" class="submit-button"/>
            </div>
        </div>
    </section>
</main>

<ng-include src="'/templates/player_bar.html'"></ng-include>
